<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->    
</head>    
<body>    
    <h2>SignUp Page</h2><br>    
    <div class="SignUp">    
    <form id="SignUp" method="post" action="/api/users">    
        <label><b>Name with initials</b></label>    
        <input type="text" name="NameWithInitials" placeholder="NameWithInitials">    
        <br><br>
        <label><b>Name denoted by initials</b></label>    
        <input type="text" name="FullName" placeholder="Name denoted by initials">    
        <br><br>
        <label><b>Postal Address</b></label>    
        <input type="text" name="Address" placeholder="Postal Address">    
        <br><br>
        <label><b>Email Address</b></label>    
        <input type="text" name="Email" placeholder="Email Address">    
        <br><br>
        <label><b>Contact Number</b></label>    
        <input type="text" name="TelNumber" placeholder="Contact Number">    
        <br><br>
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <button type="submit">Submit</button>    
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>    
    </form>
    <a href="http://localhost:3001/sign_up"><button>Sign Up</button></a>     
</div>    
</body>    
</html>   