<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
</head>
<body>
    <h2>You are not registered staff member to sign up.</h2>
    <h3>Contact Administrator to register as a staff member</h3>
    <h3>If you are student, login with email</h3>
</body>
</html>