<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">--> 
</head>    
<body>
    
    <script src="https://accounts.google.com/gsi/client" async defer></script>
      <script>
        function handleCredentialResponse(response) {
          console.log("Encoded JWT ID token: " + response.credential);
        }
        window.onload = function () {
          google.accounts.id.initialize({
            client_id: "102556293879-vvjrlpm3g49o4dd27m07rkvdnkhlm0lq.apps.googleusercontent.com",
            callback: handleCredentialResponse
          });
          google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
          );
          google.accounts.id.prompt(); // also display the One Tap dialog
        }
    </script>

    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="post" action="/user/login">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="nameWithInitials" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="password" placeholder="Password">    
        <br><br>    
        <input type="submit" name="log" id="log" value="Log In Here">       
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>    
    </form>
    <a href="http://localhost:3001/sign_up"><button>Sign Up</button></a>
    <br><br>     
    <div id="buttonDiv"></div>
</div>    
</body>    
</html>   